<div id="roles" class="page-layout simple right-sidebar inner-sidebar inner-scroll">


        <!-- HEADER -->
             <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">


            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-md
                        (click)="toggleSidebar('roles-main-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16"
                              [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">import_contacts
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Featured
                    </span>
                </div>

            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatLabel="never">
                    <input matInput [formControl]="searchInput" id="search" placeholder="Search for anything">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
                                <!-- ADD role BUTTON -->
<!--             <button mat-fab class="mat-accent-bg add-button"  (click)="newRole()" aria-label="add role"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                <mat-icon>group</mat-icon>
            </button>
 -->            <!-- / ADD  BUTTON -->


        </div>
        <!-- / HEADER -->

        <!-- SELECTED BAR -->
        <selected-bar class="mat-accent-600-bg" *ngIf="hasSelectedRoles" [@slideInTop]></selected-bar>
        <!-- / SELECTED BAR -->

     <!-- CENTER -->
    <div class="center" fxFlex>


        <!-- CONTENT -->
        <div class="content mat-white-bg" fusePerfectScrollbar>
            <roles-role-list></roles-role-list>
        </div>
        <!-- / CONTENT -->
        

    </div>
    <!-- / CENTER -->


</div>


